iartnet/storage/iccd/xsd/informa.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:element name="csm_informa">		<xs:complexType>			<xs:sequence>				<xs:element name="csm_def">					<xs:complexType>						<xs:sequence>							<xs:element name="nome_archivio" type="xs:string"/>							<xs:element name="versione" type="xs:string"/>							<xs:element name="data_archivio" type="xs:string"/>							<xs:element name="ente_schedatore" type="xs:string"/>							<xs:element name="ente_competente" type="xs:string"/>							<xs:element name="fonte_finanziaria" type="xs:string"/>							<xs:element name="mfil" type="xs:integer"/>							<xs:element name="sped" type="xs:integer"/>							<xs:element name="nsup" type="xs:integer"/>							<xs:element name="tsup" type="xs:integer"/>							<xs:element name="commenti" type="xs:string" minOccurs="0"/>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>